@charset "UTF-8";
/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  box-sizing: border-box; /*^ for old forms&chats  */
}

/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: inherit; /*^ for old forms&chats  */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
  border: 0; /*^ opera */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* ========== СКИДАННЯ СТИЛІВ ==========  */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
svg {
  text-decoration: none;
  color: inherit;
  vertical-align: bottom;
}

textarea {
  resize: none;
}

address {
  font-style: normal;
}

button {
  padding: 0;
}

/* ========== /СКИДАННЯ СТИЛІВ ========== */
:root {
  --brand-main-font: "Bookman Old Style", "Times New Roman", Georgia, serif;
  --brand-second-font: "Roboto", sans-serif, Arial, sans-serif;
  --brand-main-color: #df803e;
  --brand-black-color: #000;
  --brand-white-color: #fcfcfc;
  --disabled-btn-color: #c9c9c9;
  --disabled-text-color: #5c5c5c;
}

.wrap {
  display: block;
}

@media screen and (max-width: 1919px) {
  .wrap-at-mobile {
    display: block;
  }
}

@media screen and (min-width: 1920px) {
  .wrap-at-desktop {
    display: block;
  }
}

.reviews__list.slick-slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (min-width: 1920px) {
  .reviews__list.slick-slider {
    flex-wrap: nowrap;
    gap: 70px;
    align-items: center;
  }
}

.slick-prev {
  margin-top: 24px;
  background-color: transparent;
  align-self: center;
}
@media screen and (max-width: 1919px) {
  .slick-prev {
    order: 1;
  }
}

.slick-next {
  order: 2;
  align-self: end;
  background-color: transparent;
  transform: rotate(180deg);
}
@media screen and (min-width: 1920px) {
  .slick-next {
    align-self: center;
  }
}

.btn-arrow-icon {
  font-size: 0;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  fill: var(--brand-main-color);
  border: 1px solid var(--brand-main-color);
  transition: fill 250ms ease, border-color 250ms ease, background-color 250ms ease;
}
.btn-arrow-icon:hover, .btn-arrow-icon:focus {
  fill: var(--brand-white-color);
  background-color: var(--brand-main-color);
  border-color: var(--brand-main-color);
}
.btn-arrow-icon:disabled {
  fill: var(--disabled-text-color);
  background-color: var(--disabled-btn-color);
  border-color: var(--disabled-btn-color);
}
@media screen and (min-width: 1920px) {
  .btn-arrow-icon {
    min-width: 106px;
    height: 106px;
    margin-top: 0;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  max-width: 360px;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 1920px) {
  .container {
    max-width: 1920px;
    width: 1920px;
    padding: 0 120px;
  }
}

body {
  font-family: var(--brand-main-font);
  background-color: var(--brand-main-color);
  color: var(--brand-black-color);
}

body.modal-open {
  overflow: hidden;
}

/* Використання шрифту */
.section {
  padding-top: 48px;
  padding-bottom: 64px;
}
@media screen and (min-width: 1920px) {
  .section {
    padding-top: 108px;
    padding-bottom: 120px;
  }
}

.section--white-bg {
  background-color: var(--brand-white-color);
}

@media screen and (min-width: 1920px) {
  .section__title-wrapper {
    display: flex;
  }
}

.section__title {
  font-family: var(--brand-second-font);
  font-weight: 700;
  font-size: 14px;
}
@media screen and (min-width: 1920px) {
  .section__title {
    font-weight: 600;
    font-size: 26px;
  }
}
.section__title--orange {
  color: var(--brand-main-color);
}
.section__title--white {
  color: var(--brand-white-color);
}
.section__title--black {
  color: var(--brand-black-color);
}

.section__text {
  margin-top: 24px;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}
@media screen and (min-width: 1920px) {
  .section__text {
    margin-top: 0;
    flex-grow: 1;
    font-size: 50px;
    line-height: 1.3;
  }
}
.section__text--left {
  text-align: left;
}

.btn {
  padding: 10px 16px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-family: var(--brand-second-font);
  font-size: 14px;
  cursor: pointer;
  transition: background-color 250ms ease, color 250ms ease, border 250ms ease;
}
@media screen and (min-width: 1920px) {
  .btn {
    border-radius: 10px;
    padding: 20px 40px;
    border-width: 2px;
    font-family: var(--brand-main-font);
    font-weight: 300;
    font-size: 26px;
  }
}
.btn:hover {
  background-color: var(--brand-white-color);
  color: var(--brand-main-color);
  border-color: transparent;
}
.btn:disabled {
  background-color: var(--disabled-btn-color);
  color: var(--disabled-text-color);
}
.btn--bordered {
  border-color: var(--brand-black-color);
  background-color: transparent;
}
.btn--modal {
  background-color: var(--brand-main-color);
}
.btn--modal:hover {
  border-color: var(--brand-main-color);
  background-color: transparent;
  color: var(--brand-main-color);
}

.backdrop {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 20px;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
  transition: opacity 250ms ease;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  max-width: 550px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  background-color: var(--brand-white-color);
}

.modal__close-btn {
  background-color: transparent;
  margin-left: auto;
  cursor: pointer;
  transition: scale 250ms ease;
}
.modal__close-btn:hover, .modal__close-btn:focus {
  scale: 1.1;
}

.modal__title {
  margin-top: 40px;
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.3;
}

.modal__list {
  margin-top: 40px;
  font-weight: 300;
  font-size: 14px;
  color: var(--disabled-text-color);
}

.modal__item:not(:last-child) {
  margin-bottom: 20px;
}
.modal__item::after {
  content: "";
  display: block;
  margin-top: 8px;
  border-bottom: 2px solid var(--brand-black-color);
}

.modal__label {
  display: flex;
  gap: 20px;
}

.modal__input {
  flex-grow: 1;
  background-color: var(--brand-white-color);
}

.modal__submit-btn {
  margin-top: 64px;
  align-self: center;
}

.navigation {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--brand-white-color);
  position: relative;
  height: 72px;
}
@media screen and (min-width: 1920px) {
  .navigation {
    height: auto;
    display: flex;
    padding-top: 40px;
    padding-bottom: 14px;
  }
}

.navigation__wrapper {
  position: relative;
  width: 100vw;
  max-width: 360px;
  margin: 0 auto;
}
@media screen and (min-width: 1920px) {
  .navigation__wrapper {
    position: static;
    max-width: 1920px;
  }
}

.menu__btn {
  position: absolute;
  z-index: 5;
  top: 16px;
  right: 20px;
  background-color: transparent;
  cursor: pointer;
  transition: scale 250ms ease;
}
.menu__btn:hover, .menu__btn:focus {
  scale: 1.1;
}
@media screen and (min-width: 1920px) {
  .menu__btn {
    display: none;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1919px) {
  .menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    flex-direction: column;
    background-color: var(--brand-white-color);
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms ease;
  }
  .menu.is-open {
    opacity: 1;
    visibility: visible;
  }
}
@media screen and (max-width: 1919px) {
  .menu::before {
    content: "";
    position: absolute;
    top: 72px;
    left: 0;
    z-index: 2;
    height: 1px;
    width: 100%;
    background-color: var(--brand-main-color);
  }
  .menu::after {
    content: "";
    height: 195px;
    background-image: url("../../images/mobile/giraffe-hero-140.png");
    background-image: -webkit-image-set(url("../../images/mobile/giraffe-hero-140.png") 1x, url("../../images/mobile/giraffe-hero-280-2x.png") 2x, url("../../images/mobile/giraffe-hero-420-3x.png") 3x);
    background-image: image-set(url("../../images/mobile/giraffe-hero-140.png") 1x, url("../../images/mobile/giraffe-hero-280-2x.png") 2x, url("../../images/mobile/giraffe-hero-420-3x.png") 3x);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media screen and (max-width: 1919px) and (min-width: 1920px) {
  .menu::after {
    background-image: url("../../images/desktop/giraffe-hero-539.png");
    background-image: -webkit-image-set(url("../../images/desktop/giraffe-hero-539.png") 1x, url("../../images/desktop/giraffe-hero-1078-2x.png") 2x, url("../../images/desktop/giraffe-hero-1617-3x.png") 3x);
    background-image: image-set(url("../../images/desktop/giraffe-hero-539.png") 1x, url("../../images/desktop/giraffe-hero-1078-2x.png") 2x, url("../../images/desktop/giraffe-hero-1617-3x.png") 3x);
  }
}

.menu__title {
  font-weight: 600;
  font-size: 32px;
}
@media screen and (min-width: 1920px) {
  .menu__title {
    display: none;
  }
}

.menu-list {
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 1920px) {
  .menu-list {
    margin-top: 0;
    flex-direction: row;
    gap: 12px;
  }
}

.menu-list__item {
  padding: 8px;
  font-weight: 300;
  font-size: 20px;
  transition: color 250ms ease, scale 250ms ease;
}
.menu-list__item:hover, .menu-list__item:focus {
  scale: 1.01;
  color: var(--brand-white-color);
}
@media screen and (min-width: 1920px) {
  .menu-list__item {
    padding: 14px 10px;
    font-size: 26px;
  }
}

.navigation.is-open .menu__icon-menu {
  display: none;
}

.menu__icon-cross {
  display: none;
}
.navigation.is-open .menu__icon-cross {
  display: block;
}

.contacts {
  display: none;
}
@media screen and (min-width: 1920px) {
  .contacts {
    display: flex;
    gap: 24px;
  }
}

.contacts__link {
  display: block;
  width: 40px;
  height: 40px;
  background-position: center;
  transition: scale 250ms ease;
}
.contacts__link--phone-icon {
  background-image: url("../../images/svg/phone.svg");
}
.contacts__link--location-icon {
  background-image: url("../../images/svg/location.svg");
}
.contacts__link--email-icon {
  width: 44px;
  background-image: url("../../images/svg/email.svg");
}
.contacts__link:hover, .contacts__link:focus {
  scale: 1.1;
}

.hero {
  position: relative;
  padding-top: 32px;
}
@media screen and (min-width: 1920px) {
  .hero {
    padding-top: 90px;
    padding-bottom: 115px;
  }
}

@media screen and (min-width: 1920px) {
  .hero__container {
    display: flex;
    justify-content: space-between;
  }
}

.hero__wrapper {
  display: block;
  text-align: center;
}
@media screen and (min-width: 1920px) {
  .hero__wrapper {
    max-width: 875px;
    margin-top: 64px;
    text-align: left;
  }
}

.hero__bg::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 225px;
  background-image: url("../../images/svg/polygon-mobile.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-origin: border-box;
}
@media screen and (min-width: 1920px) {
  .hero__bg::before {
    left: auto;
    right: 0px;
    display: block;
    width: 914px;
    height: 1080px;
    background-image: url("../../images/svg/polygon-desktop.svg");
  }
}

.hero__bg::after {
  content: "";
  height: 195px;
  margin-top: 4px;
  display: block;
  background-image: url("../../images/mobile/giraffe-hero-140.png");
  background-image: -webkit-image-set(url("../../images/mobile/giraffe-hero-140.png") 1x, url("../../images/mobile/giraffe-hero-280-2x.png") 2x, url("../../images/mobile/giraffe-hero-420-3x.png") 3x);
  background-image: image-set(url("../../images/mobile/giraffe-hero-140.png") 1x, url("../../images/mobile/giraffe-hero-280-2x.png") 2x, url("../../images/mobile/giraffe-hero-420-3x.png") 3x);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 1920px) {
  .hero__bg::after {
    width: 539px;
    height: 761px;
    margin-top: 0;
    background-image: url("../../images/desktop/giraffe-hero-539.png");
    background-image: -webkit-image-set(url("../../images/desktop/giraffe-hero-539.png") 1x, url("../../images/desktop/giraffe-hero-1078-2x.png") 2x, url("../../images/desktop/giraffe-hero-1617-3x.png") 3x);
    background-image: image-set(url("../../images/desktop/giraffe-hero-539.png") 1x, url("../../images/desktop/giraffe-hero-1078-2x.png") 2x, url("../../images/desktop/giraffe-hero-1617-3x.png") 3x);
  }
}

.hero__title {
  font-weight: 600;
  font-size: 52px;
  letter-spacing: -1px;
  text-align: center;
}
@media screen and (min-width: 1920px) {
  .hero__title {
    font-size: 90px;
    text-align: left;
  }
}

.hero__text {
  margin-top: 8px;
  text-align: left;
  font-weight: 300;
  font-size: 30px;
  line-height: 1.1;
}
@media screen and (min-width: 1920px) {
  .hero__text {
    margin-top: 24px;
    font-size: 50px;
    line-height: 1.3;
  }
}

.hero__btn {
  margin-top: 16px;
}
@media screen and (min-width: 1920px) {
  .hero__btn {
    margin-top: 90px;
  }
}

.about__list {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
@media screen and (min-width: 1920px) {
  .about__list {
    margin-top: 64px;
    row-gap: 40px;
    -moz-column-gap: 82px;
         column-gap: 82px;
  }
}

.about__item {
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 20px) / 2);
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 16px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid var(--brand-black-color);
  border-radius: 10px;
}
@media screen and (min-width: 1920px) {
  .about__item {
    min-width: 408px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    flex-basis: calc((100% - 1804px) / 3);
  }
}

.about__text {
  margin-top: 4px;
  font-family: var(--brand-second-font);
  font-size: 14px;
}
@media screen and (min-width: 1920px) {
  .about__text {
    margin-top: 16px;
    font-family: var(--brand-main-font);
    font-weight: 300;
    font-size: 34px;
    line-height: 1.3;
  }
}

.about__bg-picture {
  width: 66px;
  height: 66px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (min-width: 1920px) {
  .about__bg-picture {
    width: 226px;
    height: 226px;
  }
}
.about__bg-picture--calendar {
  background-image: url("../../images/svg/calendar.svg");
}
.about__bg-picture--book {
  background-image: url("../../images/svg/open-book.svg");
}
.about__bg-picture--female {
  background-image: url("../../images/svg/female.svg");
}
.about__bg-picture--success {
  background-image: url("../../images/svg/success.svg");
}
.about__bg-picture--handshake {
  background-image: url("../../images/svg/handshake.svg");
}
.about__bg-picture--student {
  background-image: url("../../images/svg/graduating-student.svg");
}

.directions__list {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: var(--brand-second-font);
}
@media screen and (min-width: 1920px) {
  .directions__list {
    width: 824px;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
  }
}

.directions__item {
  height: 50px;
  padding-top: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
  border-top: 1px solid var(--brand-black-color);
  font-size: 16px;
}
.directions__item:last-child {
  border-bottom: 1px solid var(--brand-black-color);
  padding-bottom: 8px;
}
@media screen and (min-width: 1920px) {
  .directions__item:last-child {
    border-width: 2px;
  }
}
@media screen and (min-width: 1920px) {
  .directions__item {
    height: 82px;
    gap: 34px;
    border-width: 2px;
    font-weight: 300;
    font-size: 34px;
    line-height: 1.3;
  }
}

.directions__numbering {
  min-width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--brand-black-color);
  border-radius: 50%;
}
@media screen and (min-width: 1920px) {
  .directions__numbering {
    min-width: 66px;
    height: 66px;
    border-width: 2px;
  }
}

.directions__btn {
  display: block;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1920px) {
  .directions__btn {
    margin-top: 64px;
  }
}

.directions__bg {
  position: relative;
}
.directions__bg::before, .directions__bg::after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 16px;
  bottom: -64px;
  width: 60px;
  height: 116px;
  background-image: url("../../images/mobile/giraffe-directions-60.png");
  background-image: -webkit-image-set(url("../../images/mobile/giraffe-directions-60.png") 1x, url("../../images/mobile/giraffe-directions-120-2x.png") 2x, url("../../images/mobile/giraffe-directions-180-3x.png") 3x);
  background-image: image-set(url("../../images/mobile/giraffe-directions-60.png") 1x, url("../../images/mobile/giraffe-directions-120-2x.png") 2x, url("../../images/mobile/giraffe-directions-180-3x.png") 3x);
  background-size: 60px 116px;
}
@media screen and (min-width: 1920px) {
  .directions__bg::before, .directions__bg::after {
    width: 418px;
    height: 590px;
    right: 0;
    bottom: 150px;
    background-image: url("../../images/desktop//giraffe-directions-418.png");
    background-image: -webkit-image-set(url("../../images/desktop/giraffe-directions-418.png") 1x, url("../../images/desktop/giraffe-directions-836-2x.png") 2x, url("../../images/desktop/giraffe-directions-1254-3x.png") 3x);
    background-image: image-set(url("../../images/desktop/giraffe-directions-418.png") 1x, url("../../images/desktop/giraffe-directions-836-2x.png") 2x, url("../../images/desktop/giraffe-directions-1254-3x.png") 3x);
    background-size: contain;
  }
}
.directions__bg::after {
  left: 16px;
  bottom: -96px;
}
@media screen and (min-width: 1920px) {
  .directions__bg::after {
    left: 0;
    bottom: 150px;
  }
}

.education__list {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
@media screen and (min-width: 1920px) {
  .education__list {
    margin-top: 40px;
    row-gap: 40px;
  }
}

.education__list--row {
  margin-top: 20px;
}
@media screen and (min-width: 1920px) {
  .education__list--row {
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    -moz-column-gap: 105px;
         column-gap: 105px;
  }
}

.education__item {
  display: flex;
  align-items: baseline;
  -moz-column-gap: 8px;
       column-gap: 8px;
  font-weight: 300;
  font-size: 20px;
}
@media screen and (min-width: 1920px) {
  .education__item {
    -moz-column-gap: 20px;
         column-gap: 20px;
    flex-basis: calc((100% - 210px) / 3);
    font-size: 34px;
    line-height: 1.3;
  }
}

.education__detailed {
  margin-top: 8px;
  font-family: var(--brand-second-font);
  font-size: 16px;
}
@media screen and (min-width: 1920px) {
  .education__detailed {
    font-family: var(--brand-main-font);
    font-weight: 300;
    font-size: 26px;
  }
}

.education__numbering {
  min-width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--brand-black-color);
  border-radius: 50%;
}
@media screen and (min-width: 1920px) {
  .education__numbering {
    min-width: 66px;
    height: 66px;
    border-width: 2px;
  }
}

.education__wrapper {
  display: flex;
  flex-direction: column;
}

.education__section {
  padding-bottom: 40px;
}

@media screen and (min-width: 1920px) {
  .education__section-text-top {
    margin-top: 98px;
  }
}

.education__section-text-bottom {
  margin-top: 40px;
}
@media screen and (min-width: 1920px) {
  .education__section-text-bottom {
    margin-top: 188px;
  }
}

.education__bg {
  position: relative;
}

.education__bg::after {
  content: "";
  width: 100%;
  height: 243px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-image: url("../../images/mobile/education-languages-320.jpg");
  background-image: -webkit-image-set(url("../../images/mobile/education-languages-320.jpg") 1x, url("../../images/mobile/education-languages-640-2x.jpg") 2x, url("../../images/mobile/education-languages-960-3x.jpg") 3x);
  background-image: image-set(url("../../images/mobile/education-languages-320.jpg") 1x, url("../../images/mobile/education-languages-640-2x.jpg") 2x, url("../../images/mobile/education-languages-960-3x.jpg") 3x);
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (min-width: 1920px) {
  .education__bg::after {
    position: absolute;
    top: 128px;
    right: 120px;
    width: 956px;
    height: 505px;
    margin-top: 0;
    background-image: url("../../images/desktop/education-languages-956.jpg");
    background-image: -webkit-image-set(url("../../images/desktop/education-languages-956.jpg") 1x, url("../../images/desktop/education-languages-1912-2x.jpg") 2x, url("../../images/desktop/education-languages-2868-3x.jpg") 3x);
    background-image: image-set(url("../../images/desktop/education-languages-956.jpg") 1x, url("../../images/desktop/education-languages-1912-2x.jpg") 2x, url("../../images/desktop/education-languages-2868-3x.jpg") 3x);
  }
}

.journey__text {
  margin-top: 24px;
  font-family: var(--brand-second-font);
  font-size: 16px;
}
@media screen and (min-width: 1920px) {
  .journey__text {
    margin-top: 48px;
    font-family: var(--brand-main-font);
    font-weight: 300;
    font-size: 34px;
    line-height: 1.3;
  }
}

.journey__text--margin-top {
  margin-top: 0;
}
@media screen and (min-width: 1920px) {
  .journey__text--margin-top {
    margin-top: 40px;
  }
}

.gallery {
  position: relative;
  margin-top: 24px;
  display: inline-flex;
  width: 100%;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 8px;
}
@media screen and (min-width: 1920px) {
  .gallery {
    margin-top: 48px;
    row-gap: 20px;
  }
}

.image {
  background-size: cover;
  background-position: center;
  border-radius: 4px;
}
.image--1 {
  width: 150px;
  height: 171px;
  background-image: url("../../images/mobile/journey-1-150.jpg");
  background-image: -webkit-image-set(url("../../images/mobile/journey-1-150.jpg") 1x, url("../../images/mobile/journey-1-300-2x.jpg") 2x, url("../../images/mobile/journey-1-450-3x.jpg") 3x);
  background-image: image-set(url("../../images/mobile/journey-1-150.jpg") 1x, url("../../images/mobile/journey-1-300-2x.jpg") 2x, url("../../images/mobile/journey-1-450-3x.jpg") 3x);
  background-size: 150px 171px;
}
.image--2 {
  width: 150px;
  height: 171px;
  background-image: url("../../images/mobile/journey-2-150.jpg");
  background-image: -webkit-image-set(url("../../images/mobile/journey-2-150.jpg") 1x, url("../../images/mobile/journey-2-300-2x.jpg") 2x, url("../../images/mobile/journey-2-450-3x.jpg") 3x);
  background-image: image-set(url("../../images/mobile/journey-2-150.jpg") 1x, url("../../images/mobile/journey-2-300-2x.jpg") 2x, url("../../images/mobile/journey-2-450-3x.jpg") 3x);
  background-size: 150px 171px;
}
.image--3 {
  width: 320px;
  height: 156px;
  background-image: url("../../images/mobile/journey-3-320.jpg");
  background-image: -webkit-image-set(url("../../images/mobile/journey-3-320.jpg") 1x, url("../../images/mobile/journey-3-640-2x.jpg") 2x, url("../../images/mobile/journey-3-960-3x.jpg") 3x);
  background-image: image-set(url("../../images/mobile/journey-3-320.jpg") 1x, url("../../images/mobile/journey-3-640-2x.jpg") 2x, url("../../images/mobile/journey-3-960-3x.jpg") 3x);
  background-size: 320px 156px;
}
.image--4 {
  width: 320px;
  height: 72px;
  background-image: url("../../images/mobile/journey-4-320.jpg");
  background-image: -webkit-image-set(url("../../images/mobile/journey-4-320.jpg") 1x, url("../../images/mobile/journey-4-640-2x.jpg") 2x, url("../../images/mobile/journey-4-960-3x.jpg") 3x);
  background-image: image-set(url("../../images/mobile/journey-4-320.jpg") 1x, url("../../images/mobile/journey-4-640-2x.jpg") 2x, url("../../images/mobile/journey-4-960-3x.jpg") 3x);
  background-size: 320px 72px;
}
.image--5 {
  width: 150px;
  height: 164px;
  background-image: url("../../images/mobile/journey-5-150.jpg");
  background-image: -webkit-image-set(url("../../images/mobile/journey-5-150.jpg") 1x, url("../../images/mobile/journey-5-300-2x.jpg") 2x, url("../../images/mobile/journey-5-450-3x.jpg") 3x);
  background-image: image-set(url("../../images/mobile/journey-5-150.jpg") 1x, url("../../images/mobile/journey-5-300-2x.jpg") 2x, url("../../images/mobile/journey-5-450-3x.jpg") 3x);
  background-size: 150px 164px;
}
.image--6 {
  width: 150px;
  height: 130px;
  background-image: url("../../images/mobile/journey-6-150.jpg");
  background-image: -webkit-image-set(url("../../images/mobile/journey-7-150.jpg") 1x, url("../../images/mobile/journey-7-300-2x.jpg") 2x, url("../../images/mobile/journey-7-450-3x.jpg") 3x);
  background-image: image-set(url("../../images/mobile/journey-7-150.jpg") 1x, url("../../images/mobile/journey-7-300-2x.jpg") 2x, url("../../images/mobile/journey-7-450-3x.jpg") 3x);
  background-size: 150px 130px;
}
.image--7 {
  width: 150px;
  height: 72px;
  background-image: url("../../images/mobile/journey-7-150.jpg");
  background-image: -webkit-image-set(url("../../images/mobile/journey-6-150.jpg") 1x, url("../../images/mobile/journey-6-300-2x.jpg") 2x, url("../../images/mobile/journey-6-450-3x.jpg") 3x);
  background-image: image-set(url("../../images/mobile/journey-6-150.jpg") 1x, url("../../images/mobile/journey-6-300-2x.jpg") 2x, url("../../images/mobile/journey-6-450-3x.jpg") 3x);
  background-size: 150px 72px;
}
.image--8 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 150px;
  height: 106px;
  background-image: url("../../images/mobile/journey-8-150.jpg");
  background-image: -webkit-image-set(url("../../images/mobile/journey-8-150.jpg") 1x, url("../../images/mobile/journey-8-300-2x.jpg") 2x, url("../../images/mobile/journey-8-450-3x.jpg") 3x);
  background-image: image-set(url("../../images/mobile/journey-8-150.jpg") 1x, url("../../images/mobile/journey-8-300-2x.jpg") 2x, url("../../images/mobile/journey-8-450-3x.jpg") 3x);
  background-size: 150px 106px;
}
@media screen and (min-width: 1920px) {
  .image {
    border-radius: 10px;
  }
  .image--1 {
    width: 405px;
    height: 500px;
    background-image: url("../../images/desktop/journey-1-405.jpg");
    background-image: -webkit-image-set(url("../../images/desktop/journey-1-405.jpg") 1x, url("../../images/desktop/journey-1-810-2x.jpg") 2x, url("../../images/desktop/journey-1-1215-3x.jpg") 3x);
    background-image: image-set(url("../../images/desktop/journey-1-405.jpg") 1x, url("../../images/desktop/journey-1-810-2x.jpg") 2x, url("../../images/desktop/journey-1-1215-3x.jpg") 3x);
    background-size: 405px 500px;
  }
  .image--2 {
    width: 678px;
    height: 392px;
    background-image: url("../../images/desktop/journey-3-678.jpg");
    background-image: -webkit-image-set(url("../../images/desktop/journey-3-678.jpg") 1x, url("../../images/desktop/journey-3-1356-2x.jpg") 2x, url("../../images/desktop/journey-3-2034-3x.jpg") 3x);
    background-image: image-set(url("../../images/desktop/journey-3-678.jpg") 1x, url("../../images/desktop/journey-3-1356-2x.jpg") 2x, url("../../images/desktop/journey-3-2034-3x.jpg") 3x);
    background-size: 678px 392px;
  }
  .image--3 {
    width: 557px;
    height: 392px;
    background-image: url("../../images/desktop/journey-4-557.jpg");
    background-image: -webkit-image-set(url("../../images/desktop/journey-4-557.jpg") 1x, url("../../images/desktop/journey-4-1114-2x.jpg") 2x, url("../../images/desktop/journey-4-1671-3x.jpg") 3x);
    background-image: image-set(url("../../images/desktop/journey-4-557.jpg") 1x, url("../../images/desktop/journey-4-1114-2x.jpg") 2x, url("../../images/desktop/journey-4-1671-3x.jpg") 3x);
    background-size: 557px 392px;
  }
  .image--4 {
    width: 405px;
    height: 500px;
    background-image: url("../../images/desktop/journey-2-405.jpg");
    background-image: -webkit-image-set(url("../../images/desktop/journey-2-405.jpg") 1x, url("../../images/desktop/journey-2-810-2x.jpg") 2x, url("../../images/desktop/journey-2-1215-3x.jpg") 3x);
    background-image: image-set(url("../../images/desktop/journey-2-405.jpg") 1x, url("../../images/desktop/journey-2-810-2x.jpg") 2x, url("../../images/desktop/journey-2-1215-3x.jpg") 3x);
    background-size: 405px 500px;
  }
  .image--5 {
    position: relative;
    bottom: 108px;
    left: 0;
    width: 524px;
    height: 608px;
    background-image: url("../../images/desktop/journey-5-524.jpg");
    background-image: -webkit-image-set(url("../../images/desktop/journey-5-524.jpg") 1x, url("../../images/desktop/journey-5-1048-2x.jpg") 2x, url("../../images/desktop/journey-5-1572-3x.jpg") 3x);
    background-image: image-set(url("../../images/desktop/journey-5-524.jpg") 1x, url("../../images/desktop/journey-5-1048-2x.jpg") 2x, url("../../images/desktop/journey-5-1572-3x.jpg") 3x);
    background-size: 524px 608px;
  }
  .image--6 {
    position: relative;
    bottom: 108px;
    left: 0;
    width: 711px;
    height: 392px;
    background-image: url("../../images/desktop/journey-6-711.jpg");
    background-image: -webkit-image-set(url("../../images/desktop/journey-6-711.jpg") 1x, url("../../images/desktop/journey-6-1422-2x.jpg") 2x, url("../../images/desktop/journey-6-2133-3x.jpg") 3x);
    background-image: image-set(url("../../images/desktop/journey-6-711.jpg") 1x, url("../../images/desktop/journey-6-1422-2x.jpg") 2x, url("../../images/desktop/journey-6-2133-3x.jpg") 3x);
    background-size: 711px 392px;
  }
  .image--7 {
    position: absolute;
    bottom: 108px;
    right: 428px;
    width: 286px;
    height: 196px;
    background-image: url("../../images/desktop/journey-7-286.jpg");
    background-image: -webkit-image-set(url("../../images/desktop/journey-7-286.jpg") 1x, url("../../images/desktop/journey-7-572-2x.jpg") 2x, url("../../images/desktop/journey-7-858-3x.jpg") 3x);
    background-image: image-set(url("../../images/desktop/journey-7-286.jpg") 1x, url("../../images/desktop/journey-7-572-2x.jpg") 2x, url("../../images/desktop/journey-7-858-3x.jpg") 3x);
    background-size: 286px 196px;
  }
  .image--8 {
    position: absolute;
    bottom: 108px;
    right: 0;
    width: 408px;
    height: 196px;
    background-image: url("../../images/desktop/journey-8-405.jpg");
    background-image: -webkit-image-set(url("../../images/desktop/journey-8-405.jpg") 1x, url("../../images/desktop/journey-8-810-2x.jpg") 2x, url("../../images/desktop/journey-8-1215-3x.jpg") 3x);
    background-image: image-set(url("../../images/desktop/journey-8-405.jpg") 1x, url("../../images/desktop/journey-8-810-2x.jpg") 2x, url("../../images/desktop/journey-8-1215-3x.jpg") 3x);
    background-size: 408px 196px;
  }
}

.team__list {
  margin-top: 26px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.team__item {
  width: 254px;
  padding-top: 16px;
  border-radius: 8px;
  background-color: var(--brand-white-color);
  text-align: center;
}
@media screen and (min-width: 1920px) {
  .team__item {
    padding-top: 0;
    width: 476px;
    border-radius: 14px;
  }
}

.team__photo {
  width: 110px;
  margin: 0 auto;
  border-radius: 4px;
}
@media screen and (min-width: 1920px) {
  .team__photo {
    width: 606px;
    border-radius: 14px;
  }
}

.team__info-box {
  padding: 16px;
  padding-bottom: 20px;
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1920px) {
  .team__info-box {
    padding: 40px;
    padding-top: 36px;
  }
}

.team__name {
  font-weight: 300;
  font-size: 20px;
}
@media screen and (min-width: 1920px) {
  .team__name {
    font-size: 34px;
    line-height: 1.3;
  }
}
.team__name::after {
  content: "";
  margin-top: 8px;
  height: 1px;
  width: 100%;
  display: flex;
  background-color: var(--brand-main-color);
}
@media screen and (min-width: 1920px) {
  .team__name::after {
    margin-top: 16px;
  }
}

.team__position {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-family: var(--brand-second-font);
  font-size: 16px;
}
@media screen and (min-width: 1920px) {
  .team__position {
    margin-top: 16px;
    gap: 14px;
    font-family: var(--brand-main-font);
    font-weight: 300;
    font-size: 26px;
  }
}

.reviews__list {
  margin-top: 24px;
  font-family: var(--brand-second-font);
  font-size: 16px;
}
@media screen and (min-width: 1920px) {
  .reviews__list {
    margin-top: 64px;
    gap: 20px;
    font-family: var(--brand-main-font);
  }
}

.reviews__item {
  width: 100%;
  max-width: 360px;
  min-height: 352px;
  padding: 16px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background-color: var(--brand-main-color);
}
@media screen and (min-width: 1920px) {
  .reviews__item {
    width: 100%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    padding: 46px 70px;
  }
}
.reviews__item::after {
  width: 78px;
  height: 107px;
  background-image: url("../../images/desktop/giraffe-about-76.png");
}

.reviews__name {
  margin-bottom: 8px;
  position: relative;
  font-family: var(--brand-main-font);
  font-weight: 300;
  font-size: 20px;
}
@media screen and (min-width: 1920px) {
  .reviews__name {
    font-size: 34px;
    line-height: 1.3;
  }
}
.reviews__name::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 50px;
  height: 71px;
  background-image: url("../../images/mobile/giraffe-reviews-50.png");
  background-image: -webkit-image-set(url("../../images/mobile/giraffe-reviews-50.png") 1x, url("../../images/mobile/giraffe-reviews-100-2x.png") 2x, url("../../images/mobile/giraffe-reviews-150-3x.png") 3x);
  background-image: image-set(url("../../images/mobile/giraffe-reviews-50.png") 1x, url("../../images/mobile/giraffe-reviews-100-2x.png") 2x, url("../../images/mobile/giraffe-reviews-150-3x.png") 3x);
  background-size: 50px 71px;
}
@media screen and (min-width: 1920px) {
  .reviews__name::after {
    width: 76px;
    height: 107px;
    background-image: url("../../images/desktop/giraffe-reviews-76.png");
    background-image: -webkit-image-set(url("../../images/desktop/giraffe-reviews-76.png") 1x, url("../../images/desktop/giraffe-reviews-152-2x.png") 2x, url("../../images/desktop/giraffe-reviews-228-3x.png") 3x);
    background-image: image-set(url("../../images/desktop/giraffe-reviews-76.png") 1x, url("../../images/desktop/giraffe-reviews-152-2x.png") 2x, url("../../images/desktop/giraffe-reviews-228-3x.png") 3x);
    background-size: 76px 107px;
  }
}

.reviews__position,
.reviews__text {
  min-height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
}
@media screen and (min-width: 1920px) {
  .reviews__position,
  .reviews__text {
    display: block;
    font-weight: 300;
    font-size: 26px;
  }
}

.reviews__position::after {
  content: "";
  width: 100%;
  margin-top: 8px;
  display: block;
  border-bottom: 1px solid var(--brand-white-color);
}
@media screen and (min-width: 1920px) {
  .reviews__position::after {
    margin-top: 18px;
  }
}

.reviews__text {
  margin-top: 8px;
}
@media screen and (min-width: 1920px) {
  .reviews__text {
    margin-top: 18px;
  }
}

.footer {
  padding-top: 48px;
  padding-bottom: 40px;
}
@media screen and (min-width: 1920px) {
  .footer {
    padding-top: 112px;
    padding-bottom: 120px;
  }
}

@media screen and (min-width: 1920px) {
  .footer__container {
    display: flex;
  }
}

.footer__logo {
  font-weight: 600;
  font-size: 20px;
}
@media screen and (min-width: 1920px) {
  .footer__logo {
    font-weight: 600;
    font-size: 41px;
  }
}

.footer__wrapper {
  position: relative;
  margin-top: 16px;
}
@media screen and (min-width: 1920px) {
  .footer__wrapper {
    margin-top: 0;
    margin-left: 160px;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__list {
  display: flex;
}
@media screen and (max-width: 1919px) {
  .footer__list {
    flex-direction: column;
    gap: 16px;
    font-family: var(--brand-second-font);
    font-size: 14px;
  }
}
@media screen and (min-width: 1920px) {
  .footer__list {
    gap: 120px;
    font-weight: 300;
    font-size: 18px;
  }
}

.footer__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: var(--brand-second-font);
  font-size: 14px;
}
@media screen and (min-width: 1920px) {
  .footer__item {
    gap: 16px;
    font-family: var(--brand-main-font);
    font-weight: 300;
    font-size: 18px;
  }
}

@media screen and (max-width: 1919px) {
  .footer__socials {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.socials {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.socials__item {
  transition: scale 250ms ease;
}
.socials__item:hover, .socials__item:focus {
  scale: 1.1;
}

.socials__link {
  transition: scale 250ms ease;
}
.socials__item:hover .socials__link, .socials__item:focus .socials__link {
  scale: 1.01;
}

.footer__link {
  transition: color 250ms ease;
}
.footer__link:hover, .footer__link:focus {
  color: var(--brand-white-color);
}/*# sourceMappingURL=main.css.map */