.about {
  background-color: var(--brand-white-color);
}
.about__bg-picture {
  width: 190px;
  height: 190px;
  background-position: center;
  background-size: contain;

  &--calendar {
    background-image: url("../../images/svg/calendar.svg");
  }
  &--book {
    background-image: url("../../images/svg/open-book.svg");
  }
  &--female {
    background-image: url("../../images/svg/female.svg");
  }
  &--success {
    background-image: url("../../images/svg/success.svg");
  }
  &--handshake {
    background-image: url("../../images/svg/handshake.svg");
  }
  &--student {
    background-image: url("../../images/svg/graduating-student.svg");
  }
}
