.about__bg-picture {
  width: 190px;
  height: 190px;
  background-position: center;
  background-size: contain;
}

.about__bg-picture--calendar {
  background-image: url("../../images/svg/calendar.svg");
}
.about__bg-picture--book {
  background-image: url("../../images/svg/open-book.svg");
}
.about__bg-picture--female {
  background-image: url("../../images/svg/female.svg");
}
.about__bg-picture--success {
  background-image: url("../../images/svg/success.svg");
}
.about__bg-picture--handshake {
  background-image: url("../../images/svg/handshake.svg");
}
.about__bg-picture--student {
  background-image: url("../../images/svg/graduating-student.svg");
}
