// ^ -== btns ==-
.btn {
  padding: 10px 16px;
  border: 1px solid transparent;
  border-radius: 5px;

  font-family: var(--brand-second-font);
  font-size: 14px;

  cursor: pointer;

  transition: background-color 250ms ease, color 250ms ease, border 250ms ease;

  @media screen and (min-width: $desktop) {
    border-radius: 10px;
    padding: 20px 40px;

    border-width: 2px;

    font-family: var(--brand-main-font);
    font-weight: 300;
    font-size: 26px;
  }

  &:hover {
    background-color: var(--brand-white-color);
    color: var(--brand-main-color);
    border-color: transparent;
  }

  &:disabled {
    background-color: var(--disabled-btn-color);
    color: var(--disabled-text-color);
  }

  &--bordered {
    border-color: var(--brand-black-color);
    background-color: transparent;
  }

  &--modal {
    background-color: var(--brand-main-color);
  }

  &--modal:hover {
    border-color: var(--brand-main-color);
    background-color: transparent;
    color: var(--brand-main-color);
  }
}

// .btn {
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   width: 130px;
//   height: 48px;
//   padding: 12px;

//   border-radius: 8px;
//   color: var(--text-white-color);
//   background-color: var(--brand-orange-color);

//   font-weight: 600;
//   font-size: 16px;
//   color: var(--text-white-color);

//   cursor: pointer;
//   user-select: none;

//   transition: var(--transition-color-bg-color);

//   &:hover,
//   &:focus {
//     color: var(--brand-orange-color);
//     background-color: var(--text-title-color);
//   }

//   &:disabled {
//     pointer-events: none;
//     background-color: var(--text-label-color);
//   }
// }

// .btn--visit {
//   width: 106px;
//   height: 42px;
//   padding: 9px;
// }

// .btn--sign-up {
//   width: 118px;
// }

// .btn--explore {
//   width: 198px;
//   height: 58px;
//   padding: 16px;

//   font-weight: 500;
//   font-size: 18px;
//   line-height: 1.3;
// }

// .btn--load-more {
//   width: 184px;
//   height: 64px;
//   padding: 18px;
//   margin-top: 100px;

//   border: 1px solid rgba(255, 255, 255, 0.1);

//   font-weight: 500;
//   font-size: 20px;
//   color: var(--brand-orange-color);
//   background-color: var(--brand-bg-color);

//   transition: border 250ms ease-in-out;
//   &:hover,
//   &:focus {
//     border: 1px solid var(--text-title-color);
//     background-color: var(--brand-bg-color);
//   }
// }
