//^ Header
.navigation {
  position: relative;
  height: 72px;
}

.navigation::after {
  display: flex;
  position: absolute;
  z-index: 2;
  content: "";
  top: 72px;
  height: 1px;
  width: 100%;
  background-color: var(--brand-white-color);

  transition: background-color 250ms ease;
}

.navigation.is-open.navigation::after {
  background-color: var(--brand-main-color);
}

.menu {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;

  padding-top: 16px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;

  background-color: var(--brand-white-color);
  opacity: 0;
  visibility: hidden;

  transition: opacity 250ms ease;

  &.is-open {
    display: flex;
    opacity: 1;
    visibility: visible;
  }
}

.menu::after {
  content: "";
  background-image: url("../../images/mobile/giraffe-hero-140.png");
  height: 195px;
  background-repeat: no-repeat;
  background-position: center;
}

.menu__title {
  font-weight: 600;
  font-size: 32px;

  @media screen and (min-width: $mobile) {
    display: none;
  }
}
.menu-list {
  margin-top: 34px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.menu-list__item {
  padding: 8px;

  font-weight: 300;
  font-size: 20px;

  transition: color 250ms ease, scale 250ms ease;

  &:hover,
  &:focus {
    scale: 1.01;
    color: var(--brand-main-color);
  }
}

.menu__btn {
  position: absolute;
  z-index: 5;
  top: 16px;
  right: 20px;

  background-color: transparent;

  cursor: pointer;
  transition: scale 250ms ease;

  &:hover,
  &:focus {
    scale: 1.1;
  }
}

.navigation.is-open .menu__icon-menu {
  display: none;
}

.menu__icon-cross {
  display: none;

  .navigation.is-open & {
    display: block;
  }
}

.contacts {
  @media screen and (max-width: ($mobile - 1)) {
    display: none;
  }
}
