.hero {
  position: relative;
  padding-top: 32px;
}

.hero::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 225px;

  background-image: url("../../images/svg/polygon-mobile.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-origin: border-box;

  @media screen and (min-width: $desktop) {
    background-image: url("../../images/svg/polygon-desktop.svg");
  }
}

.hero__wrapper {
  display: block;
  text-align: center;
}

.hero__wrapper::after {
  content: "";
  margin-top: 4px;
  display: block;
  height: 195px;

  background-image: url("../../images/mobile/giraffe-hero-140.png");
  background-image: image-set(
    url("../../images/mobile/giraffe-hero-140.png") 1x,
    url("../../images/mobile/giraffe-hero-280-2x.png") 2x,
    url("../../images/mobile/giraffe-hero-420-3x.png") 3x
  );
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (min-width: $desktop) {
    background-image: url("../../images/desktop/giraffe-hero-539.png");
    background-image: image-set(
      url("../../images/desktop/giraffe-hero-539.png") 1x,
      url("../../images/desktop/giraffe-hero-1078-2x.png") 2x,
      url("../../images/desktop/giraffe-hero-1617-3x.png") 3x
    );
  }
}

.hero__title {
  font-weight: 600;
  font-size: 52px;
  letter-spacing: -1px;
  text-align: center;
}

.hero__text {
  margin-top: 8px;

  text-align: left;

  font-weight: 300;
  font-size: 30px;
  line-height: 1.1;
}

.hero__btn {
  margin-top: 16px;
}
