.backdrop {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px;

  overflow-y: scroll;

  background-color: rgba(0, 0, 0, 0.7);

  opacity: 1;
  transition: opacity 250ms ease;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  max-width: 550px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;

  display: flex;
  flex-direction: column;

  border-radius: 24px;
  background-color: var(--brand-white-color);
}

.modal__close-btn {
  background-color: transparent;
  margin-left: auto;

  cursor: pointer;

  transition: scale 250ms ease;

  &:hover,
  &:focus {
    scale: 1.1;
  }
}

.modal__title {
  margin-top: 40px;

  text-align: center;

  font-weight: 300;
  font-size: 20px;
  line-height: 1.3;
}

.modal__list {
  margin-top: 40px;

  font-weight: 300;
  font-size: 14px;
  color: var(--disabled-text-color);
}

.modal__item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &::after {
    content: "";
    display: block;
    margin-top: 8px;
    border-bottom: 2px solid var(--brand-black-color);
  }
}

.modal__label {
  display: flex;
  gap: 20px;
}

.modal__input {
  flex-grow: 1;
  // outline: 1px solid black;
  background-color: var(--brand-white-color);
}

.modal__submit-btn {
  margin-top: 64px;
  align-self: center;
}

// .modal {
//   position: absolute;
//   top: 50%;
//   left: 50%;

//   min-height: 300px;
//   min-width: 400px;
//   padding: 25px;

//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   gap: 20px;

//   border-radius: 5px;
//   background-color: var(--brand-bg-color);

//   transform: scale(1.1) translate(-50%, -50%);

//   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   .backdrop.is-hidden & {
//     transform: scale(0.9) translate(-50%, -50%);
//   }
// }

// .modal__label {
//   display: flex;
//   align-items: center;
//   user-select: none;

//   /* position: relative; */
//   /* outline: 1px solid black; */
// }

// .modal__input {
//   /* appearance: none; знімає усі стилі з елементу. В старих браузерах треба замінити на .is-hidden */
//   appearance: none;
//   position: absolute;
// }

// .modal__checkbox-icon {
//   width: 16px;
//   height: 16px;
//   margin-right: 10px;

//   //  Варіант з ЗОБРАЖЕННЯМ бордера:
//   //  background-image: url("../images/icon-uncheck.svg");
//   //  background-size: contain;

//   //  Варіант з власноруч намальованим бордером:
//   border: 2px solid var(--text-title-color);
//   border-radius: 4px;
//   background-origin: border-box;
//   background-repeat: no-repeat;
//   background-position: center;

//   transition: background-image 250ms ease, border 250ms ease, background-color 250ms ease,
//     fill 250ms ease;

//   .modal__input:checked + & {
//     background-image: url("../images/icon-check.svg");
//     background-size: contain;

//     fill: var(--brand-orange-color);
//     background-color: var(--brand-orange-color);
//     border-color: transparent;
//     background-position: center;
//   }
// }

// .modal__accent {
//   color: #2196f3;
//   text-decoration: underline;
// }

// .modal__btns-box {
//   display: flex;
//   gap: 20px;
// }

// .modal__btn-wrapper {
//   cursor: not-allowed;
// }

// .btn-close-cross {
//   position: absolute;
//   top: 10px;
//   right: 10px;

//   width: 20px;
//   height: 20px;
//   background-size: contain;
//   border-radius: 50%;

//   background-image: url("../images/close-cross.svg");
//   background-color: var(--brand-bg-color);
//   cursor: pointer;

//   transition: scale 250ms ease;

//   &:hover,
//   &:focus {
//     scale: 1.2;
//   }
// }
