.slider-team {
}

.reviews__list.slick-slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
    gap: 70px;
    align-items: center;

    // &:not(:last-child) {
    //   margin-left: 80px;
    // }
  }
}

.slick-prev {
  margin-top: 24px;
  background-color: transparent;
  align-self: center;

  @media screen and (max-width: ($desktop - 1)) {
    order: 1;
  }
}

.slick-next {
  order: 2;
  align-self: end;
  background-color: transparent;

  transform: rotate(180deg);

  @media screen and (min-width: $desktop) {
    align-self: center;
  }
}

.btn-arrow-icon {
  font-size: 0;
  width: 66px;
  height: 66px;

  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;

  fill: var(--brand-main-color);
  border: 1px solid var(--brand-main-color);

  transition: fill 250ms ease, border-color 250ms ease,
    background-color 250ms ease;

  &:hover,
  &:focus {
    fill: var(--brand-white-color);
    background-color: var(--brand-main-color);
    border-color: var(--brand-main-color);
  }

  &:disabled {
    fill: var(--disabled-text-color);
    background-color: var(--disabled-btn-color);
    border-color: var(--disabled-btn-color);
  }

  @media screen and (min-width: $desktop) {
    min-width: 106px;
    height: 106px;
    margin-top: 0;
  }
}
