body {
  font-family: var(--brand-main-font);
  // font-weight: 400; /* для звичайного (regular) стилю */

  background-color: var(--brand-main-color);
  color: var(--brand-black-color);
}

body.modal-open {
  overflow: hidden;
}

// body {
//   background-color: var(--brand-bg-color);
//   color: var(--text-title-color);

//   font-family: var(--main-font-family);
// }

// .section {
//   padding-top: 100px;
//   padding-bottom: 100px;
// }

// .section__title {
//   font-size: 48px;
//   line-height: 1.3;
//   font-weight: 500; /* необхідно перебити! */

//   color: var(--text-title-color);
// }

// .section__text {
//   font-size: 18px;
//   line-height: 1.67;
//   font-weight: 500;

//   color: var(--text-paragraph-color);

//   &--popular {
//     max-width: 428px;
//     margin-top: 24px;

//     text-align: center;
//   }

//   &--join {
//     max-width: 428px;
//     margin-top: 24px;
//     margin-left: auto;
//     margin-right: auto;
//   }
// }

/* Використання шрифту */
